[Unit]
Description=Mount unit for core, revision 10958
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/core_10958.snap
Where=/snap/core/10958
Type=squashfs
Options=nodev,ro,x-gdu.hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
